/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common CSS */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main{
   display: flex;
   justify-content: center;
   
}
.container{
    background-color: white;
    margin-bottom: 20px;
    width: 870px;
    
}
.top-players h2{
    margin-left: 20px;
    color: #562EFF;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    padding: 5px;
    margin: 5px;
}
.player img{
    margin-right: 10px;
    height: 56px;
    width: 56px;
} 